.form__button {
    border: none;
    background: teal;
    color: white;
    transition: 1s;
}

.form__button:hover {
    background: rgb(1, 164, 164);
    transform: scale(1.15);
}

.form__button:active {
    background: rgb(2, 165, 195);
    transform: scale(1.15);
}

@media (max-width: 791px) {
    .form__button {
        padding: 10px;
        min-width: auto;
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 10px;
    margin: 5px;
}

@media (max-width: 791px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 8px;
}