.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    transition: 1s;
    margin: 0;
}

.tasks__button--done {
    background: green;
}

.tasks__button--done:hover {
    background: rgb(2, 181, 2);
}

.tasks__button--done:active {
    background: rgb(4, 239, 4);
} 

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    border-bottom: solid 2px rgb(229, 227, 227);;
    padding: 5px 10px;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button--delete {
    border: none;
    background: rgb(232, 4, 4);
    width: 30px;
    height: 30px;
}

.tasks__button--delete:hover {
    background: rgb(232, 4, 3);
}

.tasks__button--delete:active {  
    background: rgb(232, 4, 2);
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks {
    list-style-type: none;
    padding: 5px 15px;
}