.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

@media (max-width: 791px) {
    .buttons {
        flex-flow: column wrap;
    }
}

.buttons__button {
    background: transparent;
    border: none;
    color: teal;
    transition: color 1s;
    font-size: 1em;
    transition: 0.5s;
}

.buttons__button:hover {
    color: rgb(3, 180, 200);
}

.buttons__button:active {
    color: rgb(5, 240, 240);
}

.buttons__button:disabled {
    color: rgb(219, 218, 218);
}